{% extends "base.html" %}
{% block content %}

<body>

<!-- Search Bar Section -->
<div class="search-bar">
    <h3>Search for Books</h3>
	<form action="{{ url_for('searchpage') }}" method="post">
		<input type="text" name="book_name" placeholder="Book Title">
		<input type="text" name="author_name" placeholder="Author">
		<input type="text" name="genre_name" placeholder="Genre">
		<button type="submit">Search</button>
	</form>
</div>

	{% if searched %}
	<!-- Search Results Section -->
	<div class="search-results">
		<h3>Search results for <br>
			{% if qry[0] %} Book: {{qry[0]}} {% endif %}<br>
			{% if qry[1] %} Author: {{qry[1]}} {% endif %}<br>
			{% if qry[2] %} Genre: {{qry[2]}} {% endif %}
		</h3>
	</div>
	<!-- Search Results Container -->
	<div class="book-grid">
		<!-- Book Cards (Example Results) -->
		{% for x in res_books %}
		<!-- Book Cards (Example Results) -->
		<a href="{{ url_for('book', book_id=x[0]) }}">
			<div class="book-card">
				<img src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTkzNjF8MHwxfGFsbHwxfHx8fHx8fHwxNjMyOTcyNzg0&ixlib=rb-1.2.1&q=80&w=400" alt="Book Image">
				<h4>{{ x[1] }}</h4>
				<p>{{ x[2] }}<br>{{ x[3] }}</p>

			</div>
		</a>
		{% endfor %}
	</div>

	{% else %}
	<!-- Search Results Section -->
	<div class="search-results">
		<h3>New Uploads</h3>
	</div>
	<!-- Search Results Container -->
	<div class="book-grid">
		{% for x in new_books %}
		<!-- Book Cards (Example Results) -->
		<a href="{{ url_for('book', book_id=x[0]) }}">
			<div class="book-card">
				<img src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTkzNjF8MHwxfGFsbHwxfHx8fHx8fHwxNjMyOTcyNzg0&ixlib=rb-1.2.1&q=80&w=400" alt="Book Image">
				<h4>{{ x[1] }}</h4>
				<p>{{ x[2] }}<br>{{ x[3] }}</p>

			</div>
		</a>
		{% endfor %}
	</div>

	{% endif %}

</body>

{% endblock %}