{% extends "base.html" %}
{% block content %}
<body>
<!-- Form Section -->
<section class="form-section">
    <h2 class="form-title">Upload Your PDF</h2>
    <form class="upload-form" action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="text" class="form-control" name="book_name" placeholder="Title of the Resource" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="author" placeholder="Author's Name" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="genre" placeholder="Genre of the Resource" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="description" placeholder="Description">
        </div>
        <div class="form-group">
            <input type="file" class="form-control" name="file" accept="application/pdf" required>
        </div>
        <button type="submit" class="btn-upload">Upload</button>
    </form>
</section>

</body>
{% endblock %}