{% extends 'base.html' %}
{% block content %}
<body>

<div class="profile-container">
    <!-- Profile Photo and Details -->
    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" alt="User Profile Photo">
    <h2>{{ g.user[1] }}</h2>
    <p>{{ g.user[2] }}</p>
    <!-- Books Read Section -->
    <div class="books-read">
        <h3>Books Uploaded</h3>
        <ul>
			{% for x in books_uploaded %}
            <li>
				<a href="{{ url_for('book', book_id=x[0]) }}">
					<img src="https://images.unsplash.com/photo-1512820790803-83ca734da794?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTkzNjF8MHwxfGFsbHwxfHx8fHx8fHwxNjMyOTcyNzg0&ixlib=rb-1.2.1&q=80&w=400" alt="Book Image">
					<div class="book-details">
						<h4>{{ x[1] }}</h4>
						<p>{{ x[2] }}</p>
						<p>{{ x[3] }}</p>
					</div>
				</a>
            </li>
			{% endfor %}
        </ul>
    </div>
</div>

<!-- MDB UI Kit -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>
</body>

{% endblock %}