body {
    font-family: Arial, sans-serif;
    background-color: #FFF0D1; /* Light background */
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: #3B3030;
}

.navbar .nav-link, .navbar-brand {
    color: white;
    margin-right: 20px;
}

.navbar .nav-link:hover {
    color: #FFEAB5;
}


/* Main Container */
.container {
    padding: 40px;
}

h1 {
    color: #3B3030;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

/* Author Cards */
.author-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.author-card {
    background-color: #795757; /* Matching the theme */
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease;
}

.author-card:hover {
    transform: scale(1.05);
    background-color: #664343; /* Change color on hover */
}

h3 {
    margin: 0;
    font-size: 22px;
}

p {
    margin: 10px 0 0;
    font-size: 16px;
    color: #ffeab5; /* Light text for description */
}